body {
  background: #333;
  font-family: 'Roboto', serif;
}

.navbar {
  border-bottom: #008ed6 3px solid;
}

#carousel{
  margin-top: 80px;
}

.carousel-inner img {
  height: 100%;
  width:100%;
  margin-bottom: 20px;

}

.three-grid .card {
  border: 0px;
}
.modal-body label{
  color: black;
}

.modal-header h5{
  color: #333;
}

.foot h2{
  margin-left: 5%;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
}

.foot{
  margin-top: 20px;
}

.foot a{
  color: #fff;
}

.foot a:hover{
  color: #008ed6;
}
#foot-margin {
  margin-top: 10px;
}
.foot ul {
  padding-left: 0px;
}
.foot li{
  list-style-type: none;
}
.last {
  margin-left: auto;
  margin-right: auto;
}
.last li {
  display: inline;
  padding-right: 5%
}

.last a{
  color: lemonchiffon;
}

@media (max-width: 450px){
  .three-grid .card{
    margin-top: 10px;
  }
  .events .col-sm-6 .card{
    margin-top: 10px;
  }
}

@media(min-width:500px){
  .events .row{
    margin-top: 10px;
  }

  .card2{
    margin-left: 10px;
    margin-right: 10px;
  }
}

